<h2>Cart {{cid}}</h2>

<table>
  <thead>
    <th>ID</th>
    <th>Quantity</th>
  </thead>
  <tbody>
    {{#each cartDB}}
      <tr>

        <td>{{this._id}}</td>
        <td>{{this.quantity}}</td>

      </tr>
    {{/each}}
  </tbody>
</table>